*~
\#*\#
.\#*
*.bak
*.dll
*.dll.manifest
*.embed.manifest
*.exe
*.exe.manifest
*.exp
*.idb
*.ilk
*.intermediate.manifest
*.ipch
*.kdev4
*.la
*.lib
*.lo
*.ncb
*.o
*.obj
*.opensdf
*.orig
*.pdb
*.pyc
*.res
*.sdf
*.sln
*.sln.docstates
*.suo
*.swp
*.tlog
*.user
*.vcproj
*.vcxproj
*.vcxproj.filters
build
cmake_install.cmake
CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
Debug
Makefile
Makefile.in
Release
